<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Flask Page</title>     
    <!--
        Styles for this page are implemented using an external CSS file (styles.css) located in the Static folder.
        The CSS file is linked using Flask's url_for function, which ensures the correct path to static resources.
        In styles.css, the h1 and p elements are styled with custom background and text colors.
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Hello There I Am Flask</h1>
    <p>Flask is a python web framework used for building websites</p>
</body>
</html>